//Breakpoints
$bp_laptop: 1024px;
$bp_tablet: 900px;
$bp_mobile: 425px;

//Colors
$color_grey: #707070;
$color_blue: #003469;
$colour_space_yellow: #EBC408;
$colour_white_background: #fbfbfb;
$colour_done_green: #59881c;
$colour_close_red: #830808;

$default-gap: 50px;
$default-border-radius: 3px;
$default-box-shadow: 2px 2px 2px #eee;

$max-modal-width: 400px;

//Typography
$font_head: 'Lato', sans-serif;
$font_text: 'Source Sans Pro', sans-serif;
