@import '../../assets/scss/var';
@import '../../assets/scss/default';

.header__return {
  text-decoration: none;
  :hover {
    text-decoration: underline;
  }
}

.header__back {
  color: $color_blue;
  font-size: 25px;
  text-decoration: none;
  margin-left: 20px;
}

.reservation__choice__subtitle{
  max-width: 768px;
  padding: 0 40px;
  font-size: 21px;
  font-weight: 800;
  color: black;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.helpers {
  font-family: 'Muli', sans-serif;
  height: 100vh;
  position: relative;

  &__card__container {
    background-color: #fff;
  }
}

.helpers__content {
  max-width: 768px;
  text-align: center;
  margin: 0 auto;
}

.helpers__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  &__link{
    text-decoration: none;
  }

  .helpers__optie {
    margin-bottom: 2vh;

    &__knop {
      cursor: default;
      background-color: #eee;
      color: #ececec;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "image text text";
      min-height: 100px;
      position: relative;
      text-align: center;

      &__imgdiv {
          display: flex;
          flex-flow: column;
          justify-content: center;
          width: 100%;
          align-self: center;
      }

      &__imgfigure {
        height: 0px;
        padding-top: 50%;
        padding-bottom: 50%;
        overflow: hidden;
        position: relative;
      }

      &__image--person {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        object-fit: cover;
      }

      p {
        grid-area: text;
        border-radius: 5px;
        padding: 5px;
        text-align: left;
        color: black;
        font-family: 'Muli', sans-serif;
      }

      &__name {
        position: relative;
        top: 0px;
        margin-left: 0.5em;
        margin-right: 0.5em;
        text-align: left;
        font-size: 16px;
      }

      &__knowledge {
        position: relative;
        top: 45px;
        margin-left: 0.5em;
        margin-right: 0.5em;
        font-size: 16px;
      }

      &__available {
        position: relative;
        top: 115px;
        margin-left: 0.5em;
        margin-right: 0.5em;
        font-size: 16px;
      }
    }

    > p {
      color: $color_grey;
      margin-top: 7px;
    }
  }
}

@media (max-width: $bp_tablet){
  .helpers__cards {
    .helpers__optie {
      &__knop {

        &__name {
          top: 5px;
          font-size: 18px;
        }

        &__knowledge {
          top: 35px;
          font-size: 15px;
        }

        &__available {
          top: 100px;
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: $bp_mobile){
  .helpers__content {
    max-width: 340px;
  }

  .helpers__cards {
    grid-template-columns: 1fr;
    gap: 10px;

    .helpers__optie {
      &__knop {

        &__name {
          top: 5px;
          font-size: 18px;
        }

        &__knowledge {
          top: 40px;
          font-size: 15px;
        }

        &__available {
          top: 100px;
          font-size: 15px;
        }
      }
    }
  }
}
