@import '../../assets/scss/var';

.searchbar{
  &__form{

    &__input{
      width: 20rem;
      background: #F2F1F9;
      border: none;
      padding: 0.5rem;
      margin-bottom: $default-gap;
    }
  }
}

@media (min-width: $bp_mobile){
  .index{
  }
}

@media (min-width: $bp_tablet){

  .index{
  }
}

@media (min-width: $bp_laptop){

  .index{
  }
}
