@use 'sass:math';

@import '../../assets/scss/var';

.addmaterial{
  &__title{
    text-align: center;
    margin: math.div($default-gap, 2) 0 math.div($default-gap, 4) 0;

    &bar{
      width: 30%;
      height: 2px;
      background-color: $colour_space_yellow;
      margin: 0 auto;
    }
  }

  &__form{
    // width: 400px;

    &__text, &__title{
      margin: $default-gap/2;
      padding: 6px 15px;
      box-sizing: border-box;
      border-radius: 2px;
      border-top: none;
      border-right: none;
      border-color: #d2d2d2;
      border-width: 2px;
      border-left-style: solid;
    }

    &__label{
      display: flex;
    }

    &__input{
      display: block;
      margin: math.div($default-gap, 2);
      margin-top: 0;
      width: (400-$default-gap);
      box-sizing: border-box;
      border-radius: 2px;
      border-top: none;
      border-right: none;
      border-color: #d2d2d2;
      border-bottom-style: solid;
      border-width: 2px;
      padding: 6px 15px;
      font-size: 1rem;
      border-left-style: solid;
      flex: 1;
    }

    &__buttons{
      display: flex;
      width: 100%;
      transition: all .3s ease-out;

      &__submit{
        background-image: url('../../images/done_black_24dp.svg');
        background-color: white;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;
        border: none;
        width: 50%;
        height: 50px;
        transition: all 0.1s ease-in-out;

        &:hover, &:active{
          background-image: url('../../images/done_white_24dp.svg');
          background-color: $colour_done_green;
        }
      }

      &__close{
        background-image: url('../../images/close_black_24dp.svg');
        background-color: white;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;
        border: none;
        width: 50%;
        height: 50px;
        transition: all 0.1s ease-in-out;

        &:hover, &:active{
          background-image: url('../../images/close_white_24dp.svg');
          background-color: $colour_close_red;
        }
      }

    }
  }

}

.ReactModal{
  &__Content{
    &--after-open{
      position: relative !important;
      inset: 50% !important;
      transform: translate(-50%, -50%) !important;
      padding: 0 !important;
      width: 0 !important;
      width: 95% !important;
      max-width: $max-modal-width !important;
      overflow: visible !important;
    }
  }
}
