@import '../../assets/scss/var';
@import '../../assets/scss/default';

.reservation__choice__subtitle{
  max-width: 768px;
  padding: 0 40px;
  font-size: 21px;
  font-weight: 800;
  color: $color_blue;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.reservation {
  font-family: 'Muli', sans-serif;
  height: 100vh;
  position: relative;
}

.reservation__cards {
  display: grid;
  grid-template-columns: 1fr;

  &__link{
    text-decoration: none;
  }

  .reservation__optie {
    margin-bottom: 2vh;

    &__knop {
      cursor: default;
      background-color: $color_blue;
      border-radius: 0.5rem;
      color: #ececec;
      //-webkit-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.7);
      //box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 60px;
      position: relative;
      text-align: center;

      &__image {
        max-width: 11rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }

      &:hover {
        opacity: 1;
      }

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.7);
        font-family: 'Muli', sans-serif;
      }
    }

    > p {
      color: $color_grey;
      margin-top: 7px;
    }
  }
}

.reservation__container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 40px;
}

.reservation__hulp {
  padding: 0 40px;
  margin-top: 2vh;
  &__container {
    cursor: pointer;
    max-width: 768px;
    margin: 0 auto;
    background-color: $color_blue;
    border-radius: 0.5rem;
    color: #ececec;
    -webkit-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-height: 60px;
    position: relative;
    text-align: center;

    &__image {
      max-width: 11rem;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    &:hover {
      opacity: 0.9;
    }

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 5px;
      padding: 5px;
      font-family: 'Muli', sans-serif;
    }
  }
}

.reservation__hulp__container__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 35px;
  margin-left: 15px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.reservation__hulp__container__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.reservation__hulp__container__checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.reservation__hulp__container__checkbox input:checked ~ .checkmark:after {
  display: block;
}

.reservation__hulp__container__checkbox .checkmark:after {
  left: 11px;
  top: 5px;
  width: 10px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.reservation__hulp__image__two {
  transform: rotate(90deg);
  margin-right: 10px;
}

.reservation__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #C4C4C4;
  transform-origin: top;
  transform: perspective(1000px) rotateX(-90deg);
  transition: 0.5s;
}

section.active {
  transform: perspective(1000px) rotateX(0deg);
}

.reservation__container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 40px;
}

.h1text {
  font-size: 25px;
}
