@import '../../assets/scss/var';
@import '../../assets/scss/default';

.header__return {
  text-decoration: none;
  :hover {
    text-decoration: underline;
  }
}

.header__back {
  color: $color_blue;
  font-size: 25px;
  text-decoration: none;
  margin-left: 20px;
}

.reservation__choice__subtitle{
  max-width: 768px;
  padding: 0 40px;
  font-size: 21px;
  font-weight: 800;
  color: black;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.reservation {
  font-family: 'Muli', sans-serif;
  height: 100vh;
  position: relative;

  &__card__container {
    background-color: #fff;
  }
}

.reservation__cards {
  display: grid;
  grid-template-columns: 1fr;

  &__link{
    text-decoration: none;
  }

  .reservation__optie {
    margin-bottom: 2vh;

    &__knop {
      cursor: default;
      background-color: #eee;
      border-radius: 0.5rem;
      color: #ececec;
      -webkit-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.7);
      box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.7);
      display: grid;
      grid-template-columns: auto 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "image text text";
      min-height: 100px;
      position: relative;
      text-align: center;

      &__image {
        max-width: 18rem;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;

        &--person {
          width: 15rem;
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
        }
      }

      &:hover {
        opacity: 1;
      }

      p {
        grid-area: text;
        border-radius: 5px;
        padding: 5px;
        text-align: left;
        color: black;
        font-family: 'Muli', sans-serif;
      }

      &__title {
        font-size: 20px;
        font-weight: bold;
      }

      &__description {
        margin-top: 35px;
        font-size: 18px;
      }

      &__places {
        margin-top: 115px;
        font-size: 18px;
      }

      &__name {
        position: relative;
        top: 130px;
        margin-left: 0px;
        text-align: left;
        font-size: 18px;
      }

      &__knowledge {
        position: relative;
        top: 180px;
        margin-left: 0px;
        font-size: 18px;
      }

      &__available {
        position: relative;
        top: 250px;
        margin-left: 0px;
        font-size: 18px;
      }
    }

    > p {
      color: $color_grey;
      margin-top: 7px;
    }
  }
}

.reservation__container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 40px;
}

.reservation__hulp {
  padding: 0 40px;
  margin-top: 2vh;
  &__container {
    cursor: pointer;
    max-width: 768px;
    margin: 0 auto;
    background-color: $color_blue;
    border-radius: 0.5rem;
    color: #ececec;
    -webkit-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-height: 60px;
    position: relative;
    text-align: center;

    &__image {
      max-width: 11rem;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    &:hover {
      opacity: 0.9;
    }

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 5px;
      padding: 5px;
      font-family: 'Muli', sans-serif;
    }
  }
}

.reservation__hulp__container__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 35px;
  margin-left: 15px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.reservation__hulp__container__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.reservation__hulp__container__checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.reservation__hulp__container__checkbox input:checked ~ .checkmark:after {
  display: block;
}

.reservation__hulp__container__checkbox .checkmark:after {
  left: 11px;
  top: 5px;
  width: 10px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.reservation__hulp__image__two {
  transform: rotate(90deg);
  margin-right: 10px;
}

.reservation__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  transform-origin: top;
  transform: perspective(1000px) rotateX(-90deg);
  transition: 0.5s;

  > h1 {
    margin: 20px;
    font-size: 15px;
    color: black;
  }
}

.reservation__confirm {
  padding: 0 40px;
  margin: 0 auto;
  margin-top: 2vh;
  max-width: 768px;

  &__button__submit {
    width: 100%;
    cursor: pointer;
    padding: 0 46%;
    background-color: $color_blue;
    border-radius: 0.5rem;
    color: #ececec;
    -webkit-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-height: 60px;
    position: relative;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
  }
}

section.active {
  transform: perspective(1000px) rotateX(0deg);
}

.reservation__container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 40px;
}

@media (max-width: $bp_tablet){
  .reservation__cards {
    .reservation__optie {
      &__knop {
        &__image {
          max-width: 18rem;

          &--person {
            width: 16rem;
          }
        }

        &__title {
          font-size: 18px;
        }

        &__description {
          font-size: 15px;
        }

        &__places {
          font-size: 15px;
        }

        &__name {
          top: 140px;
          font-size: 18px;
        }

        &__knowledge {
          top: 220px;
          font-size: 18px;
        }

        &__available {
          top: 340px;
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: $bp_mobile){
  .reservation__cards {
    grid-template-columns: 1fr;

    .reservation__optie {
      &__knop {
        &__image {
          max-width: 12rem;

          &--person {
            width: 11rem;
          }
        }

        &__title {
          font-size: 18px;
        }

        &__description {
          font-size: 15px;
        }

        &__places {
          font-size: 15px;
        }

        &__name {
          top: 90px;
          font-size: 18px;
        }

        &__knowledge {
          top: 140px;
          font-size: 18px;
        }

        &__available {
          top: 210px;
          font-size: 18px;
        }
      }
    }
  }
}
